main #catalog .section .butter-picture {
  width: 229px;
  height: 286px;
  border-radius: 10px;
}

main #catalog .section .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

main #catalog .section .description h1 {
  color: #4A3516;
  font-size: 40px;
  font-family: "Marcellus", serif;
  border-bottom: 0.5px solid #CCCCCE;
  padding-bottom: 10px;
}

header {
  height: 50px;
  background-color: #F7F7F7;
  margin: 0;
}
header nav {
  width: 80vw;
  height: 100%;
  margin: 0 auto;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
header nav #home-logo {
  width: 72px;
  height: 34px;
}
header nav #home-logo:hover, header nav #tabs a:hover {
  opacity: 0.7;
}
header nav #tabs a {
  font-family: "Marcellus", serif;
  font-size: 16px;
  font-weight: 600;
  color: #C1272D;
  text-decoration: none;
  margin-left: 60px;
}

#products-nav {
  width: 80vw;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
#products-nav a {
  color: #4A3516;
  text-decoration: none;
  font-family: "Marcellus", serif;
  font-size: 14px;
  font-weight: 600;
}
#products-nav a:hover {
  opacity: 0.7;
}

main {
  width: 80vw;
  margin: 0 auto;
  margin-top: 20px;
}
main #extras {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 10vw;
  margin-top: 150px;
}
main #extras #ordernow {
  border: 0.5px solid #C1272D;
  padding: 5px;
  text-decoration: none;
  font-family: "Marcellus", serif;
  color: #C1272D;
  border-radius: 5px;
  background-color: #F7F7F7;
  font-size: 18px;
  margin-left: 8px;
}
main #extras #ordernow:hover {
  opacity: 0.9;
  font-weight: 600;
}
main #extras table {
  margin-top: 10px;
}
main #extras p {
  font-size: 12px;
  color: #C1272D;
}
main #catalog .section {
  display: flex;
  padding-left: 0;
  margin-bottom: 40px;
}
main #catalog .section .description .content {
  display: flex;
  padding-top: 10px;
}
main #catalog .section .description .content p {
  margin-right: 85px;
  font-size: 16px;
}
main #catalog .section .description .content p .price {
  font-weight: bold;
}
main #catalog .section .description .about {
  font-size: 14px;
}

/* Mobile */
@media (max-width: 1024px) {
  header {
    height: 40px;
    width: 100vw;
  }
  header nav {
    width: 100vw;
    padding-right: 10px;
  }
  header nav #home-logo {
    width: 46px;
    height: 22px;
    margin-left: 10px;
  }
  header nav #tabs a {
    font-size: 14px;
    margin-left: 10px;
  }

  #products-nav {
    display: none;
  }

  main {
    width: 100vw;
    margin-top: 10px;
  }
  main #extras {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-items: center;
    margin: 10px 0px 10px 0px;
  }
  main #extras #ordernow {
    padding: 3px;
    font-size: 10px;
    margin-left: 0px;
  }
  main #extras table {
    margin-top: 0px;
    font-size: 12px;
  }
  main #extras p {
    font-size: 10px;
    color: #C1272D;
  }
  main #catalog .section {
    margin-bottom: 20px;
    padding-left: 5px;
  }
  main #catalog .section .butter-picture {
    width: 144px !important;
    height: 180px !important;
  }
  main #catalog .section .description {
    padding-left: 10px;
  }
  main #catalog .section .description h1 {
    font-size: 25px;
    border-bottom: 0.5px solid #CCCCCE;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  main #catalog .section .description .content {
    padding-top: 5px;
  }
  main #catalog .section .description .content p {
    margin-right: 35px;
    font-size: 12px;
    margin-bottom: 2px;
  }
  main #catalog .section .description .content p .price {
    font-weight: bold;
  }
  main #catalog .section .description .about {
    font-size: 10px;
    margin-bottom: 0px;
  }
}

/*# sourceMappingURL=products.css.map */
